<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
      <div class="hero-image">
          {% include navigation.html %}
          <div class="hero-text">
              <h1>Márton Sóskuthy</h1>
              <div class="hidden-text">
                  Associate Professor, <a href="https://linguistics.ubc.ca" target="_blank" style="font-color: white;">UBC Linguistics</a> &nbsp;&nbsp;&nbsp;<a href="https://twitter.com/msoskuthy" target="_blank"><img src="/assets/images/twitter.png" style="width:35px; margin-bottom: -10px; -webkit-filter: invert(1); filter: invert(1);"></a>&nbsp;&nbsp;
                <a href="mailto:marton.soskuthy@ubc.ca"><img src="/assets/images/email.png" style="width:30px; margin-bottom: -7px; -webkit-filter: invert(1); filter: invert(1);"></a>
              </div>
          </div>
      </div>
      <div class="main-container">
        <div class="row">
            <div class="column left" style="font-size: 18px; text-align: left; padding-top: 38px;">
            <p>
                &nbsp;&nbsp;<a href="https://twitter.com/msoskuthy" target="_blank"><img src="/assets/images/twitter.png" style="width:35px;margin-bottom: 7px;"></a>&nbsp;&nbsp;&nbsp;
                <a href="mailto:marton.soskuthy@ubc.ca"><img src="/assets/images/email.png" style="width:30px;margin-bottom: 10px;"></a>
            </p>
            
            <p>
                Department of Linguistics <br/>
                2613 West Mall <br/>
                Vancouver, BC Canada V6T 1Z4 <br/>
            </p>
            
            </div>
            <div class="column middle">
            {{ content }}
            </div>
            <div class="column right" style="font-size: 18px; text-align: center;">
                <img src="/assets/images/marci_photo.png" style="width:150px;height:150px;margin-bottom:10px;">
            
                <p>Assistant Professor of Phonetics and Cognitive Systems</p>
                
                <p lightgrey="" style="text-align: center; color:#888888; margin-bottom: -0.5em; margin-top: -0.5em; font-size: 14px;">●&nbsp;●&nbsp;●</p>
                
                <p><a href="https://linguistics.ubc.ca" target="_blank">Department of Linguistics</a> </p>
                
                <p lightgrey="" style="text-align: center; color:#888888; margin-bottom: -0.5em; margin-top: -0.5em; font-size: 14px;">●&nbsp;●&nbsp;●</p>
                
                <p><a href="https://www.ubc.ca" target="_blank">University of British Columbia</a></p>
            </div>
        </div>
      </div>
      
  </body>
</html>